@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.field {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
	min-width: 200px;
	margin: 0 2%;
	padding: 10px 0;
	min-height: 64px;

	@include media-mobile {
		width: auto;
	}

	.label {
		position: absolute;
		left: 4%;
		max-width: 100%;
		transition: transform 0.25s ease, font-size 0.25s ease;

		&_small {
			transform: translateY(-15px);
			font-size: 13px;
		}
	}

	.input {
		width: 100%;
		padding: 25px 10px 15px 17px;
		border-radius: 6px;
		font-family: inherit;
		background-color: transparent;
		background-color: $lighter-black;

		@include media-tablet {
			padding-top: 22px;
			padding-bottom: 10px;
		}

		@include hoverSupport {
			box-shadow: 0 0 3px $black;
		}

		&:focus {
			box-shadow: 0 0 3px $black;
		}

		&:focus + label {
			transform: translateY(-15px);
			font-size: 13px;
		}

		&_wrong {
			border-color: $red;
		}

		&[type='file'] {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;

			& + label {
				position: absolute;
				top: 17%;
				left: 0;
				text-align: center;
				padding: 8px 10px;
				border-radius: 5px;
				font-size: 16px;
				text-overflow: ellipsis;
				white-space: nowrap;
				background-color: $lighter-black;
				transform: translateY(0);
				transition: none;
				cursor: pointer;

				@include media-mobile {
					left: 50%;
					transform: translateX(-50%);
				}

				& + .error {
					top: 44px;

					@include media-mobile {
						left: 50%;
						transform: translateX(-50%);
					}
				}

				@include hoverSupport {
					box-shadow: 0 0 3px $black;
				}
			}

			&:focus + label {
				box-shadow: 0 0 3px $black;
			}
		}
		&_wrong[type='file'] + label {
			border-color: $red;
		}
	}

	.error {
		position: absolute;
		top: 69px;
		left: 0%;
		font-size: 13px;
		color: $red;

		@include media-tablet {
			top: 62px;
		}
	}
}
