@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.wrapper {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	margin-left: calc(-50vw - 8%);
	margin-top: calc(-50vh - 20%);

	@include media-tablet {
		height: calc(120vh - 10%);
		margin-left: calc(-50vw + 46%);
		margin-top: calc(-50vh - 33%);
	}

	@include media-mobile {
		height: calc(120vh - 30%);
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 350px;
	padding: 25px 20px;
	background-color: $beige;
	border-radius: 8px;

	@include media-tablet {
		margin-top: 10px;
	}

	@include media-mobile {
		min-width: 300px;
		padding: 20px 15px;
	}

	.text {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
		text-align: center;

		@include media-mobile {
			width: 70%;
		}
	}

	.buttons {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin: auto;

		.btn {
			width: 100px;
			padding: 5px;
			border-radius: 5px;
			background-color: $light-black;

			@include hoverSupport {
				background-color: $medium-black;
			}

			&:focus {
				box-shadow: 0 0 3px $black;
			}
		}
	}
}
